<%- include('partials/header') -%>
    <!-- breadcrumb start -->
    <!-- <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>cart</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div> -->
    <!-- breadcrumb End -->


    <!--section start-->
    <section class="cart-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="cart_counter">
                        <div class="countdownholder">
                            Your cart will be expired in<span id="timer"></span> minutes!
                        </div>
                        <a href="/checkout" class="cart_checkout btn btn-solid btn-xs">check out</a>
                    </div>
                </div>
                <div class="col-sm-12 table-responsive-xs">
                    <table class="table cart-table">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">action</th>
                                <th scope="col">image</th>
                                <th scope="col">product name</th>
                                <th scope="col">price</th>
                                <th scope="col">quantity</th>
                                <th scope="col">total</th>
                            </tr>
                        </thead>  
                        <% if(products){ %>
                            <% products.forEach(function(product){ %>
                        <tbody>
                            <tr>
                                
                                <td><a href="#" class="icon"><i class="ti-close"></i></a></td>
                                <td>
                                    <a href="#"><img src="../assets/images/products/<%= product.img %>" style="width: 100px; height: 100px;" alt=""></a>
                                </td>
                                
                                <td><a href="#"><%= product.item.title %></a>
                                    <div class="mobile-cart-content row">
                                        <div class="col">
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <input type="number" name="quantity"
                                                        class="form-control input-number" value="<%= product.item.qty %>">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <h2 class="td-color"><%= product.price %></h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2><%= product.item.price %></h2>
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="number" name="quantity" class="form-control input-number"
                                                value="<%= product.qty %>">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2 class="td-color"><%= product.price %></h2>
                                </td>
                            </tr>
                        </tbody>
                        
                        <% }) %>
                        <% } %>
                    </table>
                    <div class="table-responsive-md">
                        <table class="table cart-table ">
                            <tfoot>
                                <tr>
                                    <td>total price :</td>
                                    <td>
                                        <h2><%= totalPrice %></h2>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row cart-buttons">
                <div class="col-6"><a href="/products" class="btn btn-solid">continue shopping</a></div>
                <div class="col-6"><a href="/checkout" class="btn btn-solid">check out</a></div>
            </div>
        </div>
    </section>
    <!--section end-->

    <%- include('partials/footer') -%>



    